* {
    padding: 0;
    margin:0;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #2956a0;
    text-align: center;
}

header, main, footer {
    background-color: #4583e8;
    text-align: center;
}

p {
    font-size: 25px;
    margin: 10px 150px 10px 150px;
    padding: 10px
}

img {
    width: 60;
    max-width: 60%;
    max-height: 600px;
}

figcaption {
    font-size: 20px;
    font-style: italic;
}

#end {
    font-size: 15px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 5px;
    margin: 10px;
    background-color: #3b81ef;
    font-size: 20px;
}

nav ul li:hover {
    background-color: white;
}

nav ul li a {
    text-decoration: none; 
    color: #333; 
}

h1 {
    font-size: 45px;
    margin: 20px;
    padding: 10px;
}

.places {
    font-size: 38px;
}